## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
num1=30

print(num1)

2) Imprimir el tipo de dato de la variable 8.5

In [ ]:
num2 = 8.5 #Flotante

print ("La variable num2 es de tipo:", type(num2))

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
print ("La variable num1 es de tipo:", type(num1))

4) Crear una variable que contenga tu nombre

In [ ]:
nom= "Abril Britos"
print("Mi nombre es:", nom)

5) Crear una constante que contenga el número Pi

In [ ]:
PI = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
print ("La variable PI es de tipo:", type(PI))

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [ ]:
num_e = 2,719

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
var1 = 'True'
var2 = True

# No es lo mismo porque al escribirlo entre comillas simples (o dobles) lo toma como una cadena de caracteres, en cambio al escribirlo sólo lo toma como booleano,representa valor de verdad.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
print ("La variable var1 es de tipo:", type(var1))
print ("La variable var2 es de tipo:", type(var2))

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
sum1 = 10
sum2 = 5.5

print ("La suma entre los dos números es igual a:",sum1 + sum2)

11) Realizar una operación de suma de un número definido como string con un entero

In [ ]:
entr1 = input("Ingrese un número")

entr2 = 20

print ("La variable entr1 es de tipo:", type(entr1))
print ("La variable entr2 es de tipo:", type(entr2))
print("La suma entre los dos números es:", int(entr1)+entr2)

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [ ]:
poten = 2.719**3

print(poten)

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [ ]:
entr3 = int(input("Ingrese un número"))

mult = entr3 * 2

print("El resultado de la multiplicacion es:", mult )

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
calc = 27 / 4

print("Si dividimos 27 entre 4 el cociente es igual a:",calc)

15) De la división anterior solamente mostrar la parte entera

In [ ]:
entera = 27 // 4

print(entera)

16) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
resto = 27 % 4

print (resto)

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
result = (4*entera) + resto

print (result)

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
ejem1 = 2
ejem2 = "2"

print("La variable ejem1 es de tipo:", type(ejem1),"y la variable ejem2 es de tipo:", type(ejem2))

# Ocurre eso porque al poner el número entre comillas lo toma como texto, pero si ponemos el número sólo lo toma como entero.

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
nuevo = int(ejem2)

print("La variable ejem1 es de tipo:", type(ejem1),"y la variable ejem2 es de tipo:", type(nuevo))

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a = float('3,8')

print(type(a))

# Arroja ese error porque para poder hacer el cambio de datos deberia tener un PUNTO y no una COMA.

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
ope1 = 2 + '2'

# No está permitido ya que las variables no son del mismo tipo.
# Si fuera del mismo tipo daria dos resultados distintos, si fueran enteros el resultado sería 4 y si estuvieran los dos entre comillas daría 22 como resultado porque los tomaría como texto.
print(ope1)

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [ ]:
menu ="""
MENÚ
1_Pizza
2_Empanadas
3_Milanesas
4_Salir
"""

print (menu)

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
lista_num = ([1,2,3,4,5,6,7,8,9,10])

print(lista_num)

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [ ]:
print (lista_num[-2])

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [ ]:
lista_num.insert(2,"Abril")

print(lista_num)

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [1]:

matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [2]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [4]:
matriz[1][1] = "Z"
print (matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [9]:
matriz[0][0] = "1"
matriz[0][1] = "2"
matriz[0][2] = "3"
print(matriz)

[['1', '2', '3'], ['D', 'Z', '2'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [76]:
marcas = ("Fila","Adidas","Nike","Puma","Topper")

print(marcas)
print(type(marcas))

('Fila', 'Adidas', 'Nike', 'Puma', 'Topper')
<class 'tuple'>

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [77]:
print(marcas[0])

Fila

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#No se puede porque una vez creada la tupla no se puede agregar,eliminar o modificar los elementos.

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [88]:
datos = {"nombre": "Abril", "apellido": "Britos","edad": "23","hobbies": ["leer","entrenar","series"]}

{'nombre': 'Abril', 'apellido': 'Britos', 'edad': '23', 'hobbies': ['leer', 'entrenar', 'series']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [84]:
print(datos.get("hobbies"))

['leer', 'entrenar', 'series']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [86]:
datos = {"edad": 25}
print(datos["edad"])

25